body {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: 'Orliet Pro';
  src: url('@/assets/fonts/Orliet-Pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heartz';
  src: url('@/assets/fonts/Heartz.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BonusHearts';
  src: url('@/assets/fonts/BonusHearts.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}